{% extends 'base.html.twig' %}

{% block title %}Fortil | Back Office - Event{% endblock %}

{% block body %}
<div class="main-container">
    <div class="topbar">
        <div class="svg-container">
            <a class="stretched-link" href="{{ path('app_backoffice') }}">
                <img class="svg" src="{{ asset('svg/arrow-left-solid.svg') }}" alt="Left arrow SVG" width="40">
            </a>
        </div>
    </div>

    <section class="container">
        <h1 class="main-title">Events</h1>

        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Start</th>
                    <th>End</th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody>
                {% for event in events %}
                    <tr>
                        <td>{{ event.name }}</td>
                        <td>{{ event.startDate|date("d/m/Y") }}</td>
                        <td>{{ event.endDate|date("d/m/Y") }}</td>
                        <td>
                            <a class="btn btn--gradient" href="#">Edit</a>
                            <a class="btn btn--gradient" href="#">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
</div>
{% endblock %}
