{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/home.css') }}">
{% endblock %}

{% block body %}
<div class="main-container">
    <div class="topbar">
        <div class="svg-container">
            <a class="stretched-link" href="#">
                <img class="svg" src="{{ asset('svg/bell.svg') }}" alt="Bell SVG" width="40">
            </a>
            <span class="badge" {{ unread_notifications|length ? '' : 'hidden' }}></span>
        </div>

        {% include 'locales_buttons.html.twig' %}
    </div>

    <section class="container">
        <h1 class="main-title">{{ 'welcome_to_the_app'|trans }}</h1>

        <div class="qrcode-container">
            <img class="qrcode-img" src="{{ qr_code_data_uri(qrcode_data) }}" alt="QR Code" width="200">
        </div>

        <div class="btn-container">
            <a class="btn btn--gradient" href="{{ path('app_event_show', {'id': event.id}) }}">{{ 'program'|trans }}</a>
            {% if hr_form is not null and hr_form.link %}
                <a class="btn btn--gradient" href="{{ hr_form.link }}">{{ 'form'|trans }}</a>
            {% endif %}
        </div>
    </section>
</div>
{% endblock %}
