{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/home.css') }}">
{% endblock %}

{% block body %}
<div class="main-container">
    <div class="topbar">
        <div class="svg-container">
            <a class="stretched-link" href="#">
                <img class="svg" src="{{ asset('svg/bell.svg') }}" alt="Bell logo" width="40">
            </a>
            <span class="badge" {{ unread_notifications|length ? '' : 'hidden' }}></span>
        </div>
    </div>

    <section class="container">
        <h1 class="main-title">Welcome to the Fortil Event app</h1>

        <div class="qrcode-container">
            <img class="qrcode-img" src="{{ qr_code_data_uri(qrcode_data) }}" alt="QR Code" width="200">
        </div>

        <div class="btn-container">
            <a class="btn btn--gradient" href="#">Program</a>
            <a class="btn btn--gradient" href="#">Form</a>
        </div>
    </section>
</div>
{% endblock %}
