{% extends 'base.html.twig' %}

{% block title %}Back Office - Form{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/backoffice.css') }}">
{% endblock %}

{% block body %}
<div class="main-container backoffice">
    <div class="topbar">
        <div class="svg-container">
            <a class="stretched-link" href="{{ path('app_backoffice') }}">
                <img class="svg" src="{{ asset('svg/arrow-left-solid.svg') }}" alt="Left arrow SVG" width="40">
            </a>
        </div>
    </div>

    <section class="container">
        <h1 class="main-title">Create form</h1>

        {{ form_start(form) }}
            {% if errors is defined %}
                <div class="form-errors">
                    {% for error in errors %}
                        <p class="error"><span class="badge-error">error</span> {{ error.message }}</p>
                    {% endfor %}
                </div>
            {% endif %}

            <div class="form-group">
                {{ form_label(form.title) }}
                {{ form_widget(form.title, {'attr': {'class': 'form-input form-input--text'}}) }}
            </div>

            <div class="form-group">
                {{ form_label(form.link) }}
                {{ form_widget(form.link, {'attr': {'class': 'form-input form-input--text'}}) }}
            </div>

            <div class="form-group">
                {{ form_widget(form.submit, {'attr': {'class': 'form-button btn btn--gradient'}}) }}
            </div>
        {{ form_end(form) }}
    </section>
</div>
{% endblock %}
